{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% block app %}
<div id="page-content" hx-target="#page-content">
  {% partialdef page-content inline %}
  <div<% if css_framework != 'bootstrap' %> x-data="{
    showDeleteModal: false,
    closeModal() {
       this.showDeleteModal = false;
     }
   }"
   @keydown.escape.window="closeModal()"<% endif %>>
    <nav class="mb-2" aria-label="breadcrumbs">
      <ol class="pg-breadcrumbs">
        <li><a hx-get="{% url '<< app_name >>:<< app_name >>_home'<< extra_url_args >> %}" hx-push-url="true">{% translate "<< app_name | capitalize >>" %}</a></li>
        <li><a hx-get="{% url '<< app_name >>:<< model_name_lower >>_list'<< extra_url_args >> %}" hx-push-url="true">{% translate "<< model_name >>s" %}</a></li>
        <li class="pg-breadcrumb-active" aria-current="page">{{ object.name }}</li>
      </ol>
    </nav>
    <section class="app-card">
      <h3 class="pg-subtitle">{% blocktranslate with name=object.name %}Detail view for {{ name }}{% endblocktranslate %}</h3>
      <div class="mt-2">
        <div>{% translate "Created at" %}: {{ object.created_at }}</div>
        <div>{% translate "Updated at" %}: {{ object.updated_at }}</div>
      </div>
      <div class="mt-2">
        <a hx-get="{% url '<< app_name >>:<< model_name_lower >>_update'<< extra_url_args >> object.pk %}" hx-push-url="true" class="pg-button-secondary">
          <span class="pg-icon"><i class="fa fa-pencil"></i></span>
          <span>{% translate "Edit" %}</span>
        </a>
<%- if css_framework != 'bootstrap' %>
        <button class="pg-button-danger pg-ml" @click="showDeleteModal = true">
          <span class="pg-icon"><i class="fa fa-times"></i></span>
          <span>{% translate "Delete" %}</span>
        </button>
<%- else %>
        <form method="post" action="{% url '<< app_name >>:<< model_name_lower >>_delete'<< extra_url_args >> object.pk %}" class="d-inline">
          {% csrf_token %}
          <button class="pg-button-danger" type="submit">
            <span class="pg-icon"><i class="fa fa-times"></i></span>
            <span>{% translate "Delete" %}</span>
          </button>
        </form>
<%- endif %>
      </div>
    </section>
<%- if css_framework != 'bootstrap' %>
    <div class="modal" x-show="showDeleteModal" x-cloak :class="showDeleteModal ? '<< modal_open_class >>' : ''">
      <form method="dialog" class="<< modal_background_class >>" @click="closeModal()">
        <button>close</button>
      </form>
      <div class="<< modal_content_class >>">
        <p>
          {% blocktranslate with name=object.name %}
          Are you sure you want to delete the << model_name >> "{{ name }}"?
          <strong>This is not reversible.</strong>
          {% endblocktranslate %}
        </p>
        <div class="mt-2">
          <form method="post" action="{% url '<< app_name >>:<< model_name_lower >>_delete'<< extra_url_args >> object.pk %}">
            {% csrf_token %}
            <button class="pg-button-danger" type="submit">{% translate "Delete" %}</button>
            <button class="pg-button-secondary" type="button" @click="closeModal()">{% translate "Cancel" %}</button>
          </form>
        </div>
      </div>
    </div>
<%- endif %>
  </div>
  {% endpartialdef page-content %}
</div>
{% endblock %}
