from django.db import models<% if not model_name %>  # noqa<% endif %>
from django.urls import reverse

<% if model_name %>
from apps.utils.models import BaseModel


class << model_name >>(BaseModel):
    name = models.CharField(max_length=100)

    def get_absolute_url(self):
        return reverse("<< app_name >>:<< model_name_lower >>_detail", kwargs={"pk": self.pk})
<% else %>
# Create your models here.
<% endif %>
