from django.db import models<% if not model_names %>  # noqa<% endif %>
from django.urls import reverse
<%- if model_names %>

from apps.users.models import CustomUser
from apps.utils.models import BaseModel
<%- for model_name in model_names %>


class << model_name >>(BaseModel):
    user = models.ForeignKey(CustomUser, on_delete=models.CASCADE)
    name = models.CharField(max_length=100)

    def get_absolute_url(self):
        return reverse("<< app_name >>:<< model_name | lower >>_detail", kwargs={"pk": self.pk})
<%- endfor %>
<%- else %>

# Create your models here.
<% endif %>
