{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% load partials %}
{% block app %}
<div id="page-content" hx-target="#page-content">
  {% partialdef page-content inline %}
  <nav class="mb-2" aria-label="breadcrumbs">
    <ol class="pg-breadcrumbs">
      <li><a hx-get="{% url '<< app_name >>:<< app_name >>_home' %}" hx-push-url="true">{% translate "<< app_name | capitalize >>" %}</a></li>
      <li><a hx-get="{% url '<< app_name >>:<< model_name_lower >>_list' %}" hx-push-url="true">{% translate "<< model_name >>s" %}</a></li>
      <li class="pg-breadcrumb-active" aria-current="page">{{ object.name }}</li>
    </ol>
  </nav>
  <section class="app-card">
    <h3 class="pg-subtitle">{% blocktranslate with name=object.name %}Detail view for {{ name }}{% endblocktranslate %}</h3>
    <div><strong>{% translate "Id" %}:</strong> {{ object.id }}</div>
    <div class="is-italic mt-2">
      <div>{% translate "Created at" %}: {{ object.created_at }}</div>
        {% if object.updated_at %}
            <div>{% translate "Updated at" %}: {{ object.updated_at }}</div>
        {% endif %}
    </div>
    <div class="mt-2">
      <a hx-get="{% url '<< app_name >>:<< model_name_lower >>_update' object.pk %}" hx-push-url="true" class="pg-button-secondary">
        <span class="pg-icon"><i class="fa fa-pencil"></i></span>
        <span>{% translate "Edit" %}</span>
      </a>
      <a href="{% url '<< app_name >>:<< model_name_lower >>_delete' object.pk %}" class="pg-button-danger pg-ml">
        <span class="pg-icon"><i class="fa fa-times"></i></span>
        <span>{% translate "Delete" %}</span>
      </a>
    </div>
  </section>
  {% endpartialdef page-content %}
</div>
{% endblock %}
