{% extends "web/app/app_base.html" %}
{% load static %}
{% load i18n %}
{% load form_tags %}
{% load partials %}
{% block app %}
<div id="page-content" hx-target="#page-content">
  {% partialdef page-content inline %}
  <nav class="mb-2" aria-label="breadcrumbs">
    <ol class="pg-breadcrumbs">
      <li><a hx-get="{% url '<< app_name >>:<< app_name >>_home' %}" hx-push-url="true">{% translate "<< app_name | capitalize >>" %}</a></li>
      <li>
        <a hx-get="{% url '<< app_name >>:<< model_name_lower >>_list' %}" hx-push-url="true">{% translate "<< model_name >>s" %}</a>
      </li>
      {% if object %}
        <li>
          <a hx-get="{{ object.get_absolute_url }}" hx-push-url="true">{{ object.name }}</a>
        </li>
        <li class="pg-breadcrumb-active" aria-current="page">{% translate "Edit" %}</li>
      {% else %}
        <li class="pg-breadcrumb-active" aria-current="page">{% translate "New" %}</li>
      {% endif %}
    </ol>
  </nav>
  <section class="app-card">
    <h3 class="pg-subtitle">
      {% if object %}
        {% blocktranslate with name=object.name %}Edit {{ name }}{% endblocktranslate %}
      {% else %}
        {% translate "New << model_name >>" %}
      {% endif %}
    </h3>
    <form hx-post="{% if object %}{% url '<< app_name >>:<< model_name_lower >>_update' object.id %}{% else %}{% url '<< app_name >>:<< model_name_lower >>_create' %}{% endif %}" hx-push-url="true">
      {% csrf_token %}
      {% render_form_fields form %}
      <div class="mt-2">
        <input type="submit" class="pg-button-primary" value="{% translate 'Save' %}"/>
      </div>
    </form>
  </section>
  {% endpartialdef page-content %}
</div>
{% endblock %}
